bots/regBot/bin/firefox/application.ini
bots/regBot/bin/firefox/crashhelper
bots/regBot/bin/firefox/crashreporter
bots/regBot/bin/firefox/dependentlibs.list
bots/regBot/bin/firefox/firefox
bots/regBot/bin/firefox/firefox-bin
bots/regBot/bin/firefox/firefox-bin.sig
bots/regBot/bin/firefox/firefox.sig
bots/regBot/bin/firefox/glxtest
bots/regBot/bin/firefox/libfreeblpriv3.so
bots/regBot/bin/firefox/libgkcodecs.so
bots/regBot/bin/firefox/liblgpllibs.so
bots/regBot/bin/firefox/libmozavcodec.so
bots/regBot/bin/firefox/libmozavutil.so
bots/regBot/bin/firefox/libmozgtk.so
bots/regBot/bin/firefox/libmozsandbox.so
bots/regBot/bin/firefox/libmozsqlite3.so
bots/regBot/bin/firefox/libmozwayland.so
bots/regBot/bin/firefox/libnspr4.so
bots/regBot/bin/firefox/libnss3.so
bots/regBot/bin/firefox/libnssutil3.so
bots/regBot/bin/firefox/libonnxruntime.so
bots/regBot/bin/firefox/libplc4.so
bots/regBot/bin/firefox/libplds4.so
bots/regBot/bin/firefox/libsmime3.so
bots/regBot/bin/firefox/libsoftokn3.so
bots/regBot/bin/firefox/libssl3.so
bots/regBot/bin/firefox/libxul.so
bots/regBot/bin/firefox/libxul.so.sig
bots/regBot/bin/firefox/omni.ja
bots/regBot/bin/firefox/pingsender
bots/regBot/bin/firefox/platform.ini
bots/regBot/bin/firefox/precomplete
bots/regBot/bin/firefox/removed-files
bots/regBot/bin/firefox/update-settings.ini
bots/regBot/bin/firefox/updater
bots/regBot/bin/firefox/updater.ini
bots/regBot/bin/firefox/vaapitest
bots/regBot/bin/firefox/browser/omni.ja
bots/regBot/bin/firefox/browser/chrome/icons/default/default16.png
bots/regBot/bin/firefox/browser/chrome/icons/default/default32.png
bots/regBot/bin/firefox/browser/chrome/icons/default/default48.png
bots/regBot/bin/firefox/browser/chrome/icons/default/default64.png
bots/regBot/bin/firefox/browser/chrome/icons/default/default128.png
bots/regBot/bin/firefox/defaults/pref/channel-prefs.js
bots/regBot/bin/firefox/fonts/TwemojiMozilla.ttf
bots/regBot/bin/firefox/gmp-clearkey/0.1/libclearkey.so
bots/regBot/bin/firefox/gmp-clearkey/0.1/libclearkey.so.sig
bots/regBot/bin/firefox/gmp-clearkey/0.1/manifest.json
bots/regBot/bin/firefox/icons/updater.png
bots/discordBot/.env
bots/discordBot/functions/betting/.env
